# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# uv / build artifacts
.uv/
uv.lock

# Environment variables
.env

# OS
.DS_Store

# Logs
*.log
downloads/signal-2025-09-25-160356.jpeg
pyproject.toml
Expense_Reimbursement_PRD_v2.docx
.gitignore
THG I Travel & Expense Policy_V1.1.docx.pdf
